extends layout

block head
	style(type='text/css').
		#product-list {
		margin: 2px 0 0 0;
		padding: 0;
		list-style: none;
		}
		#product-list li {
		float: left;
		margin: 0 0px 20px 20px;
		padding: 10px;
		width: 250px;
		height: 275px;
		border: 1px solid #e2e6e7;
		background-color: #FFF;
		}
block tieude
	|Danh Sách Sản Phẩm
block content
	div(style='height: 100%; overflow: hidden;')
		div(style='margin-left: 40px; margin-top: 40px;')
			each post in yt
				ul#product-list
					li#itemPlaceholder
						div(style='width: 229px; height: 140px; text-align: center;')
							img(width='80px', height='121px', src='/img/hinhsanpham/#{post.masp}/hinh.jpg')
						div(style='width: 229px; height: 50px; text-align: center;')
							span.bold13orange #{post.tensp}
						div(style='width: 229px; height: 30px; text-align: center; float: left;')
							span.bold11red #{post.gia}
						div(style='width: 229px; height: 40px; float: right;')
							div(style='width: 70px; float: right;')
								a.Detail(href='#') Chi tiết
							div(style='width: 75px; float: right;')
								a.Detail(href='#', data-proid='@pro.ProID') Đặt Hàng